/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */


/*hack fix for header wrapping*/
  body{
    min-width:420px;
  }

navbar{
  color: white;
 }

body {
	padding-top: 40px;
}

.alert {
	margin-top: 10px;
}

.brand{
  font-size: 1.6em;
  color: white;
}

#map{
	width: 100%;
	height: 250px;
	background-color: #DDD;
  padding-top:1em;
}
#map-hardcoded{
  width: 100%;
  height: 300px;
  background-color: #DDD;
  padding-top:1em;
}

#whiteMainTitle{
  width: 60%;
  color: #FFF;
}

/*#whiteMainTitle a:link{
  color: #FFF;
  width: 60%;
}
/* how do we make the whiteMainTitle href also white? */

li{
  float: left;
  display: block;
}

.navMakeSmaller{
  width: 20%;
}

.whiteText{
  color: #FFF;
}
link{
  colour:#FFF;
}